<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gera Personagem</title>
    <link rel="stylesheet" href="/stylesheets/estilo.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
</head>
<body>
    <header>
        <h1>Gerador de Personagem</h1>
    </header>
    <section>
        <div id="informacoes" class="container">
            <p>Digite o seu nome: <input type="text" name="txtNome" id="txtNome"></p>
            Escolha o desenho: <select name="desenho" id="desenho">
                <option value="1">Steven Universe</option>
                <option value="2">Pokemon</option>
                <option value="3">Rick and Morty</option>
                <input type="button" id="btnVerificar" value="Verificar" onclick="mostrar()">
            </select>
        </div>
        <div id="resultado class="container"">
            <p>Preencha o seu nome para ver o resultado</p>
        </div>
        <div id="nomePerso" class="container"></div>
        <div id="img" class="container"></div>
    </section>
    <footer id="area" class="container">
        <p>&copy; LLC</p>
    </footer>
    <div id="sugestoes" class="container">
        <p>Caso o desenho de sua preferencia não constar aqui,<br>por favor nós avise!!</p>
    </div>
    <script src="/javascripts/script.js"></script>
</body>
</html>