<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gera Personagem</title>
    <link rel="stylesheet" href="/stylesheets/estilo.css">
</head>
<body>
    <header>
        <h1>Gerador de Personagem</h1>
    </header>
    <section>
        <div id="nome">
            Digite o seu nome: <input type="text" name="txtNome" id="txtNome">
            <input type="button" value="Verificar" onclick="mostrar()">
        </div>
        <div id="resultado">
            <p>Preencha o seu nome para ver o resultado</p>
        </div>

    </section>
    <footer>
        <p>&copy;Lucas Carvalho</p>
    </footer>
    <script src="/javascripts/script.js"></script>
</body>
</html>