<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gera Personagem</title>
    <link rel="stylesheet" href="/stylesheets/estilo.css">
</head>
<body>
    <header>
        <h1>Gerador de Personagem</h1>
    </header>
    <section>
        <div id="informacoes">
            <p>Digite o seu nome: <input type="text" name="txtNome" id="txtNome"></p>
            <p>Escolha o desenho: <select name="desenho" id="desenho">
                                        <option value="1">Steven Universe</option>
                                        <option value="2">Pokemon</option>
                                        <option value="3">Rick and Morty</option>
            </select></p>
            <!--<input type="button" id="btnVerificar" value="Verificar" onclick="mostrar()"-->
            <input type="button" id="btnVerificar" value="Verificar" onclick="mostrar()">
            <!--<input type="text" name="txtPersonagem" id="txtPersonagem"-->
        </div>
        <div id="resultado">
            <p>Preencha o seu nome para ver o resultado</p>
        </div>
        <div id="nomePerso"></div>
        <div id="img"></div>
    </section>
    <footer>
        <p>&copy;Lucas Carvalho</p>
    </footer>
    <script src="/javascripts/script.js"></script>
</body>
</html>