<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gera Personagem</title>
    <link rel="stylesheet" href="/stylesheets/estilo.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
</head>
<body>
    <header>
        <h1>Gerador de Personagem</h1>
    </header>
    <section>
        <div id="informacoes">
            <p>Digite o seu nome: <input type="text" name="txtNome" id="txtNome"></p>
            Escolha o desenho: <select name="desenho" id="desenho">
                <option value="1">Steven Universe</option>
                <option value="2">Pokemon</option>
                <option value="3">Rick and Morty</option>
                <option value="4">Turma da Mônica</option>  
                <option value="5">Hora de Aventura</option>
                <option value="6">Coragem o cão covarde</option>             
            </select>
            <input type="button" id="btnVerificar" value="Verificar" onclick="mostrar()">
        </div>
        <div id="resultado">
            <p>Preencha o seu nome para ver o resultado</p>
        </div>
        <div id="nomePerso"></div>
        <div id="img"></div>
    </section>
    <footer id="area">
        <p>&copy; Lucas Eduardo</p>
    </footer>
    <!--<div id="sugestoes">
        <p>Caso o desenho de sua preferencia não constar aqui,<br>por favor nós avise!!</p>
    </div-->
    <script src="/javascripts/script.js"></script>
</body>
</html>