body{
    background: rgb(121, 121, 226);
    font: normal 15pt Arial;
}
section{
    background: rgb(231, 221, 221);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(65, 65, 65);
    color:  rgb(121, 121, 226);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
header{
    color: white;
    text-align: center;

}
input#txtNome{
    width: 100px;
}
div#resultado{
    text-align: center;
}